<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <properties>
        <!--  File output format -->
        <property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss} |-%-5level [%thread] %c [%L] -| %msg%n</property>
    </properties>
    <appenders>
        <Console name="CONSOLE" target="system_out">
            <PatternLayout pattern="${PATTERN}" />
        </Console>
    </appenders>
    <loggers>
        <logger name="com.tml.AIP_POSITION_JDG_TRANS" level="debug" />
        <root level="info">
            <appenderref ref="CONSOLE" />
        </root>
    </loggers>
</configuration>